body {
  background-color: #040b0b;
  font-size: 16px;
  font-family: 'Montserrat', sans-sherif;
  overflow-x: hidden;
}

a {
  color: ivory;
}

@-webkit-keyframes flickerHero {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerHero {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 5rem;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
}

.nav-links-all {
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a:hover {
  background-color: #7a047a;
  color: #fffefe;
}

.links {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.links:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dice-book {
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

/* contact start */
.dice-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40rem;
  position: relative;
  color: ivory;
  font-size: 20px;
  -webkit-animation: test 8s;
          animation: test 8s;
  z-index: 2;
}

.social-svg {
  max-width: 100%;
  width: 13rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dice-container img {
  padding-bottom: 1rem;
  width: 15rem;
}

.bi {
  max-width: 50px;
  min-width: 40px;
}

.bi {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.bi:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #7a047a;
}

@-webkit-keyframes test {
  0% {
    left: 100px;
    top: 100px;
    opacity: 0;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
  /* tumble */
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
  /* spin */
  /* 0% { transform: perspective(800px) rotateY(0deg); }
    100% { transform: perspective(800px) rotateY(360deg); } */
}

@keyframes test {
  0% {
    left: 100px;
    top: 100px;
    opacity: 0;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
  /* tumble */
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
  /* spin */
  /* 0% { transform: perspective(800px) rotateY(0deg); }
    100% { transform: perspective(800px) rotateY(360deg); } */
}

@-webkit-keyframes emailTest {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes emailTest {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#email {
  position: relative;
}

@-webkit-keyframes githubTest {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes githubTest {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#github {
  position: relative;
}

@-webkit-keyframes linkedinTest {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes linkedinTest {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#linkedin {
  position: relative;
}

/* contact end */
.aboutme {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  text-align: center;
  color: white;
  font-size: 2vh;
  z-index: -2;
}

.aboutme-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.aboutme img {
  width: 15rem;
}

.animation {
  margin-top: 8rem;
  width: 100%;
}

/* dice */
.container-dice {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.d6 {
  position: relative;
  -webkit-animation: dice 6s linear infinite;
          animation: dice 6s linear infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.Side {
  background-color: white;
  height: 10vh;
  width: 10vh;
  border: 1vh solid #fa0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
}

.one {
  -webkit-transform: translateZ(-13vh);
          transform: translateZ(-13vh);
}

.six {
  -webkit-transform: translateZ(-3vh) rotateY(180deg);
          transform: translateZ(-3vh) rotateY(180deg);
}

.two {
  -webkit-transform: rotateY(270deg) translateX(-13vh);
          transform: rotateY(270deg) translateX(-13vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.five {
  -webkit-transform: rotateY(-270deg) translateX(13vh);
          transform: rotateY(-270deg) translateX(13vh);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.three {
  -webkit-transform: rotateX(90deg) translateY(-13vh);
          transform: rotateX(90deg) translateY(-13vh);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.four {
  -webkit-transform: rotateX(-90deg) translateY(13vh);
          transform: rotateX(-90deg) translateY(13vh);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes dice {
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 0%;
    top: 0%;
  }
  75% {
    left: 0%;
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes dice {
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 0%;
    top: 0%;
  }
  75% {
    left: 0%;
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

/* dice end*/
/* hero box */
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: #333333;
  color: white;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

/* wave animation */
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 132, 255, 0.637);
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 400vw;
  top: -65vw;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: black;
  -webkit-animation: waves 15s linear infinite;
          animation: waves 15s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-animation: waves 20s linear infinite;
          animation: waves 20s linear infinite;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
            transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* wave animation end */
/* book start */
.book-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40rem;
  margin-bottom: 3rem;
}

.book {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  font-size: 1.7vh;
  margin-right: 0vh;
}

.cover-back {
  z-index: -2;
}

.cover-front {
  z-index: 1;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.cover-front, .cover-back {
  height: 32vh;
  width: 28vh;
  background: purple;
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.page {
  height: 28vh;
  width: 25vh;
  background: white;
  /* position: relative; */
  position: absolute;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  z-index: -1;
}

.showing-page {
  height: 28vh;
  width: 25vh;
  background: white;
  position: relative;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  z-index: -1;
}

.book:hover .cover-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  z-index: -2;
}

.book:hover .page {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  z-index: 2;
}

.cover-front {
  z-index: index 1;
}

.page1 {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.page2 {
  -webkit-transition-duration: 2.6s;
          transition-duration: 2.6s;
}

.page3 {
  -webkit-transition-duration: 2.2s;
          transition-duration: 2.2s;
}

.page4 {
  -webkit-transition-duration: 1.8s;
          transition-duration: 1.8s;
}

.page5 {
  -webkit-transition-duration: 1.4s;
          transition-duration: 1.4s;
}

.book:hover .page5 {
  -webkit-transition-duration: 5.2s;
          transition-duration: 5.2s;
}

.book:hover .page4 {
  -webkit-transition-duration: 4.8s;
          transition-duration: 4.8s;
}

.book:hover .page3 {
  -webkit-transition-duration: 4.4s;
          transition-duration: 4.4s;
}

.book:hover .page2 {
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
}

.book:hover .page1 {
  -webkit-transition-duration: 3.6s;
          transition-duration: 3.6s;
}

.bottles {
  margin-left: 80vw;
}

.liquid {
  position: absolute;
  background-color: #f51501;
  height: 7vh;
  width: 6vh;
  margin-top: 9vh;
  z-index: -1;
}

.lid {
  position: absolute;
  background-color: #813c03;
  height: 4vh;
  width: 3.7vh;
  margin-bottom: 4vh;
  margin-left: 1.5vh;
  margin-top: .5vh;
}

.left {
  position: absolute;
  background-color: #d4d4d4;
  height: 15vh;
  width: 1.5vh;
  margin-top: 2vh;
  border-bottom-left-radius: 17%;
}

.right {
  position: absolute;
  background-color: #d4d4d4;
  height: 15vh;
  width: 1.5vh;
  margin-left: 5.2vh;
  margin-top: 2vh;
  z-index: 2;
  border-bottom-right-radius: 17%;
}

.bottom {
  position: absolute;
  background-color: #d4d4d4;
  height: 2vh;
  width: 6.7vh;
  margin-top: 15.2vh;
  border-radius: 30%;
}

.sky-wrapper {
  width: 20rem;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: .8vh;
  background: linear-gradient(-42deg, white, white, black);
  -webkit-filter: drop-shadow(0px 0px 0.7vh white);
          filter: drop-shadow(0px 0px 0.7vh white);
  border-radius: 50%;
  -webkit-animation: tail 2s ease-in-out infinite, fall 2s ease-in-out infinite;
          animation: tail 2s ease-in-out infinite, fall 2s ease-in-out infinite;
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50vh);
            transform: translateX(50vh);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50vh);
            transform: translateX(50vh);
  }
}

@-webkit-keyframes tail {
  0% {
    width: 0vh;
  }
  30% {
    width: 10vh;
  }
  100% {
    width: 0vw;
  }
}

@keyframes tail {
  0% {
    width: 0vh;
  }
  30% {
    width: 10vh;
  }
  100% {
    width: 0vw;
  }
}

.star::after, .star::before {
  content: " ";
  position: absolute;
  right: 0;
  top: calc(50% - .3vh);
  height: .6vh;
  background: linear-gradient(-45deg, white 0%, white 35%, white 100%);
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
  border-radius: 50%;
  -webkit-animation: poof 2s ease-in-out infinite;
          animation: poof 2s ease-in-out infinite;
}

@-webkit-keyframes poof {
  0% {
    width: 0vh;
  }
  50% {
    width: 1.7vw;
  }
  100% {
    width: 0vh;
  }
}

@keyframes poof {
  0% {
    width: 0vh;
  }
  50% {
    width: 1.7vw;
  }
  100% {
    width: 0vh;
  }
}

.star::after {
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
}

.sign-fall {
  background-color: brown;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
  margin-left: 10rem;
  height: 10rem;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: broke 2s forwards ease-in, rock 5s infinite alternate;
          animation: broke 2s forwards ease-in, rock 5s infinite alternate;
}

@-webkit-keyframes broke {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
}

@keyframes broke {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
}

@-webkit-keyframes rock {
  form {
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  to {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes rock {
  form {
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  to {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
/*# sourceMappingURL=stylesheet.css.map */